/* CSS Variable Declaration */
/*  Blandon Tang */
/* 10126829 W2020 SENG513 */
:root {
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #dcf8c6;
}

html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100vh;
    background-image: url("/mountains.jpg");
    font-family: Helvetica, sans-serif;
}


/* Begin style for container */
.messenger, .welcomeBox {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
.messenger {
    max-width: 900px;
    background: #fff;
}
.welcomeBox {
    max-width: 700px;
    background: #eee;
}
.headerBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}
#messagesArea { /* Background image for Messages*/
    background-color: #fcfcfe;
    background-image: url("/abstractGradient.PNG");
}
#messagesArea {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
#messagesArea::-webkit-scrollbar {
    width: 6px;
}
#messagesArea::-webkit-scrollbar-track {
    background: #ddd;
}
#messagesArea::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.userDisplay{
    margin-bottom: 0.75em;
    margin-left: 2.5em;
    text-align: left;
    font-family: 'Exo 2';
    font-size: 1.3em;
}

#usersContainer{
    position: absolute;
    /* align calculator top left corner to centre of page */
    top: 50%;
    left: 50%;
    /* align centre of calculator to centre of page - move left by 50% of width and move up by 50% of height */
    transform: translate(-50%, -50%);
    /* width: 600px; */
}



/* Begin message styling */
.sysMsg {
    font-family: 'Consolas';
    text-align: center;
    font-weight: bold;
}
.msg {
display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.msg:last-of-type {
    margin: 0;
}
.msgBubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}
.left-msg .msgBubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msgBubble {
    background: var(--right-msg-bg);
    border-bottom-right-radius: 0;
}
.msgInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msgInfo-name {
    margin-right: 10px;
    font-weight: bold;
}
.msgInfo-time {
    font-size: 0.80em;
}


/* Begin Form field stylings */
#messageForm {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}
#messageForm * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.msgSendBtn {
    margin-left: 10px;
    background: #787878;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}
.msgSendBtn:hover {
    background: #303030;
}
#messageInput {
    flex: 1;
    background: #ddd;
}


/* Connect 4 CSS */

#gameBoard {
    width: 100%;
    height: 100%;
    border-spacing: 0.75em;
    margin: 1rem auto;
    border-collapse: separate;
}
/* should change to every td that is child of gameboard */
td {
    padding: 1rem 1.2rem;
    border-radius: 5rem;
    border: 1px solid black;
}

.xPiece{
    /* background-color: darkblue; */
    background-color: yellow;
}
.yPiece{
    background-color: darkred;
}

/* Theme 2 */
.xPiece.theme2{
    background-color: royalblue !important;
}
.yPiece.theme2{
    background-color: rgb(21, 224, 55) !important;
}

/* Theme 3 */
.xPiece.theme3{
    background-color: rgb(194, 34, 194) !important;
}
.yPiece.theme3{
    background-color: rgb(235, 164, 13) !important;
}

/* Theme Selector */
.themeSelect {
    display: none;
}

.themeSelect:checked + label {
    background-color: royalblue;
}

/* Modal CSS*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 70%; /* Could be more or less, depending on screen size */
}




/* Welcome Page - CSS stylings adapted from the following sources:
    * https://freefrontend.com/css-input-text/
    *
*/
#uniqueCode{
    color: rgb(50, 62, 167);
}
h1, .welcomeDescrip > p {
    font-family: 'Exo 2';
}
* { box-sizing:border-box; }
#errorMsg {
    color: rgb(211, 35, 35);
    font-family: 'Consolas';
}
.container { 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.welcomePageInput {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.welcomePageInput:focus { outline:none; }

/* active state */
.welcomePageInput:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:rgb(33, 61, 177); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.welcomePageInput:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* active state */
.welcomePageInput:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
  

/* CSS Buttons Welcome Page 
    * Style adapted from
    *  http://cssdeck.com/labs/purely-css
    * https://freshdesignweb.com/css3-buttons/
*/
.hot-container p { margin-top: 10px; }
.welcomeBtn { text-decoration: none; margin: 0 10px; }

.hot-container {
	min-height: 100px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

input.welcomeBtn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

input.welcomeBtn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

input.welcomeBtn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}